<?xml version="1.0"?>
<config>
    <modules>
        <Logshub_Search>
            <version>1.0</version>
        </Logshub_Search>
    </modules>
    <global>
        <blocks>
            <logshubsearch>
                <class>Logshub_Search_Block</class>
            </logshubsearch>
        </blocks>
        <models>
            <logshubsearch>
                <class>Logshub_Search_Model</class>
            </logshubsearch>
        </models>
        <helpers>
            <logshubsearch>
                <class>Logshub_Search_Helper</class>
            </logshubsearch>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <logshubsearch>
                    <file>logshubsearch.xml</file>
                </logshubsearch>
            </updates>
        </layout>
    </frontend>
    <default>
        <logshubsearch>
            <general>
                <enable>0</enable>
                <api_domain>uk01.apisearch.logshub.com</api_domain>
                <api_prod_limit>18</api_prod_limit>
                <api_cat_limit>10</api_cat_limit>
                <api_features>products,categories,fullresponse</api_features>
            </general>
            <appereance>
                <fullscreen>1</fullscreen>
                <include_jquery>0</include_jquery>
            </appereance>
        </logshubsearch>
    </default>
</config>